@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground: #f9f9f9;
  --secondary-color: #1c1c1c;
  --green-color: #009063;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: 'Libre Baskerville', serif;
}
#__next {
  min-height: 100vh;
}

body {
  background: var(--foreground);
  overflow: hidden;
}

a {
  text-decoration: none;
}
